<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="salubrité communaitaire à kinshasa."
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Bopeto Chez Vous</title>
  </head>
  <body>
    <header>
      <div class="logoContainer">
        <div>
          <img src="/images/logo" alt="bopeto chez vous">
        </div>
      </div>
      <div>
        <h1 class="titreEntete">Bopeto Chez Vous</h1>
      </div>
    </header>
    <main>
      <section>
        <article class="annonceHeader">
          <p>
            <span>Bopeto Chez Vous</span>: Un service specialisé dans l'<span>évacuation des déchets</span> des ménages kinois.
          </p>
        </article>
        <article>
          <p>
            On se dispose à évacuer à tout moment et en tout lieu vos <span class="noteImportante">déchets ménagers</span>. Lorem Ipsum dolor sit amet consectutuer adipiscing. Lorem Ipsum dolor sit amet consectutuer adipiscing. Lorem Ipsum dolor sit amet consectutuer adipiscing.
          </p>
          <div class="contactButton">
              Appelez-nous
          </div>
        </article>
        <article class="noteMission">
          <h1>Notre mission</h1>
          <p>
            Notre mission est de rendre la vie agréable par un environnement sain et profitable à la vie. Lorem ipsum dolor sit amet consectutuer adipiscing. Lorem ipsum dolor sit amet consectutuer adipiscing. Lorem ipsum dolor sit amet consectutuer adipiscing.
          </p>
          <div class="imageMission">
            <figure>
              <img src="/images/images (1).jpeg" alt="poubelle menagère">
            </figure>
          </div>
        </article>
        <article class="noteMission">
          <h1>Nos services</h1>
          <p>
            Nous distribuons à nos abonnés des sachets plastiques pour le déposage de tous les déchets. Lorem ipsum dolor sit amet consectutuer adipiscing. Lorem ipsum dolor sit amet consectutuer adipiscing. Lorem ipsum dolor sit amet consectutuer adipiscing.
          </p>
          <div class="imageMission">
            <figure>
              <img src="/images/images (2).jpeg" alt="poubelle menagère">
            </figure>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div>
        <p> &copy; 2020 BopetoChezVous.<p>
      </div>
      <div class="socialMediasLinks">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
      </div>
    </footer>
  </body>
</html>
